@font-face {
    font-family: 'Shrikhand', cursive;
    src: url(https://fonts.google.com/specimen/Shrikhand?query=shrikhand#standard-styles);
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.google.com/specimen/Roboto?query=roboto);
    font-style: normal;
    font-weight: 400;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}