@font-face {
  font-family: 'Shrikhand';
  src: url(https://fonts.google.com/specimen/Shrikhand?query=shrikhand#standard-styles);
  font-family: 'Roboto';
  src: url(https://fonts.google.com/specimen/Roboto?query=roboto);
  font-style: normal;
  font-weight: 400;
}

/* commun aux 5 fichiers */
h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
  font-weight: 400;
  font-weight: bold;
  font-family: 'roboto';
}

h4 {
  font-size: 30px;
  font-weight: lighter;
}

h5 {
  font-size: 25px;
  font-weight: lighter;
  margin: 0px;
}

.active_button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356dc));
  background: linear-gradient(#FF79DA, #9356dc);
  font-family: 'Roboto';
  color: white;
}

footer {
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 10px;
  margin-top: 4rem;
  font-size: 20px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer p {
  line-height: 45px;
  font-family: 'Shrikhand';
}

footer ul {
  line-height: 30px;
  font-family: 'roboto';
  list-style: none;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #eceaea;
  position: relative;
}

/* ACCUEILPAGE */
h2 {
  font-family: 'Roboto';
}

#logo {
  text-align: center;
}

.preloader {
  margin: auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  -webkit-animation: 4s fadeinAnimation;
          animation: 4s fadeinAnimation;
  position: absolute;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.preloader:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  font-size: 50px;
  margin: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 150px solid grey;
  border-color: grey transparent grey transparent;
  -webkit-animation: preloader 3s;
          animation: preloader 3s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
  }
}

@keyframes preloader {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
  }
}

@-webkit-keyframes fadeinAnimation {
  0% {
    opacity: 1;
    background: white;
  }
  50% {
    opacity: 1;
    background: white;
  }
  100% {
    opacity: 0;
    background: transparent;
  }
}

@keyframes fadeinAnimation {
  0% {
    opacity: 1;
    background: white;
  }
  50% {
    opacity: 1;
    background: white;
  }
  100% {
    opacity: 0;
    background: transparent;
  }
}

.search {
  border: 0px;
  background: #bbb7b7;
  margin-top: 22px;
  font-size: 20px;
  font-weight: bold;
}

.search_form {
  border: 0px;
  background-color: #bbb7b7;
  margin-bottom: 0px;
  height: 70px;
}

.search_place {
  text-align: center;
}

.search_bloc {
  background: #bbb7b7;
}

.explorer {
  border: transparent;
  border-radius: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 12px 12px 12px;
  color: white;
  margin-bottom: 86px;
  font-size: 26px;
}

.btn-number__1,
.btn-number__2,
.btn-number__3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #eceaea;
  border-radius: 28px;
  font-size: 25px;
  font-weight: bold;
  margin-right: 50px;
  margin-left: 50px;
  -webkit-box-shadow: 6px 6px 9px lightgrey;
          box-shadow: 6px 6px 9px lightgrey;
  margin-bottom: 32px;
}

.btn-number__3:hover {
  background-color: #e7def1;
}

.btn-number__3:hover .fa-store {
  color: #9356DC;
}

.btn p {
  border: #9356DC solid 3px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  text-align: center;
  width: 35px;
  position: absolute;
  left: 40px;
}

.btn_choice a {
  color: black;
  font-size: 30px;
  margin-left: 20px;
}

.btn_choice {
  margin-bottom: 100px;
  background: white;
}

.btn a {
  color: black;
}

i.fa-solid.fa-mobile-screen-button {
  margin-left: 50px;
}

i.fa-solid.fa-list {
  margin-left: 50px;
}

i.fa-solid.fa-store {
  margin-left: 50px;
}

.Restaurants_bloc {
  background-color: #eceaea;
}

.Restaurants_bloc h2 {
  margin-left: 20px;
}

.New {
  background: #99e2d0;
  width: 140px;
  left: 24rem;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  margin-right: 20px;
}

#Restaurants {
  background-color: #eceaea;
}

.restaurants_cards {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  border-radius: 23px;
  -webkit-box-shadow: 6px 6px 9px #eceaea;
          box-shadow: 6px 6px 9px #eceaea;
  color: black;
}

.restaurants_img {
  width: 100%;
}

/* MENUPAGE */
.menu_logo {
  font-family: 'Shrikhand';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.return {
  border: none;
  background-color: transparent;
  text-align: left;
}

.fa-arrow-left {
  font-size: 35px;
}

.description_menu h2 {
  font-family: 'Shrikhand';
}

.restaurant_menu {
  background: #eceaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.description_menu h3 {
  font-size: 22px;
  border-bottom: #99e2d0 solid 3px;
  width: 12%;
}

.description {
  font-family: 'Roboto';
}

.menu_pages .description_menu {
  background-color: #eceaea;
  border-radius: 7%;
}

.restaurants_picture {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7% 7% 0% 0%;
}

strong {
  font-size: 20px;
}

.animation_checkbox #checkbox {
  display: none;
}

.animation_checkbox:hover #checkbox {
  display: block;
  -webkit-animation: 0.7s checkbox;
          animation: 0.7s checkbox;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 0%;
}

.animation_checkbox:hover .label {
  background: #99e2d0;
  position: relative;
  height: 75px;
  width: 75px;
  text-align: center;
  border-radius: 0 25% 25% 0;
}

.animation_checkbox:hover .starter_content {
  -webkit-animation: 0.7s reduce;
          animation: 0.7s reduce;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_checkbox:hover .starter_content .starter_text3 {
  width: 80%;
}

.animation_checkbox:hover .starter_content .starter_text3 p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 10px;
}

@-webkit-keyframes checkbox {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}

@keyframes checkbox {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}

@-webkit-keyframes reduce {
  from {
    width: 100%;
  }
  to {
    width: 80%;
  }
}

@keyframes reduce {
  from {
    width: 100%;
  }
  to {
    width: 80%;
  }
}

.animation_checkbox:hover .fa-circle-check {
  color: white;
  -webkit-animation: 0.7s check;
          animation: 0.7s check;
  -webkit-animation-delay: -90ms;
          animation-delay: -90ms;
  margin-top: 30px;
}

@-webkit-keyframes check {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.19);
            animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.19);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  75% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@keyframes check {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.19);
            animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.19);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  75% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

.animation_checkbox:after {
  -webkit-animation: slideleft;
          animation: slideleft;
  cursor: url("images/Cursor.png"), pointer;
}

.starter-list {
  background: white;
  margin-bottom: 24px;
  border-radius: 23px;
  -webkit-box-shadow: 6px 6px 9px #eceaea;
          box-shadow: 6px 6px 9px #eceaea;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}

.starter_content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price {
  font-weight: bold;
}

.main-list {
  background: white;
  margin-left: 10px;
  margin-bottom: 24px;
  border-radius: 23px;
  -webkit-box-shadow: 6px 6px 9px #eceaea;
          box-shadow: 6px 6px 9px #eceaea;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}

.dessert-list {
  background: white;
  margin-left: 10px;
  margin-bottom: 24px;
  border-radius: 23px;
  -webkit-box-shadow: 6px 6px 9px #eceaea;
          box-shadow: 6px 6px 9px #eceaea;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}

.order {
  border-radius: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 10px 10px;
  margin-bottom: 35px;
  font-size: 28px;
  width: 55%;
  text-align: center;
  margin-left: 5rem;
}

input.search_order {
  background: none;
  border: none;
  font-size: 20px;
}

.animation_menu:nth-child(1n+1) {
  -webkit-animation: fadein 0.4s ease-out;
          animation: fadein 0.4s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_menu:nth-child(1n+2) {
  -webkit-animation: fadein 0.8s ease-out;
          animation: fadein 0.8s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_menu:nth-child(1n+3) {
  -webkit-animation: fadein 1.2s ease-out;
          animation: fadein 1.2s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_menu:nth-child(1n+4) {
  -webkit-animation: fadein 1.6s ease-out;
          animation: fadein 1.6s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_menu:nth-child(1n+5) {
  -webkit-animation: fadein 2s ease-out;
          animation: fadein 2s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_menu:nth-child(1n+6) {
  -webkit-animation: fadein 2.4s ease-out;
          animation: fadein 2.4s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_menu:nth-child(1n+7) {
  -webkit-animation: fadein 2.8s ease-out;
          animation: fadein 2.8s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_menu:nth-child(1n+8) {
  -webkit-animation: fadein 3.2s ease-out;
          animation: fadein 3.2s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_menu:nth-child(1n+9) {
  -webkit-animation: fadein 3.6s ease-out;
          animation: fadein 3.6s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
