      @font-face {
          font-family: 'Shrikhand';
          src: url(https://fonts.google.com/specimen/Shrikhand?query=shrikhand#standard-styles);
          font-family: 'Roboto';
          src: url(https://fonts.google.com/specimen/Roboto?query=roboto);
          font-style: normal;
          font-weight: 400;
      }
      
      body {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          width: 100%;
      }
      
      #logo {
          text-align: center;
      }
      
      .btn-number__1,
      .btn-number__2,
      .btn-number__3 {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding: 10px;
          background-color: rgb(236, 234, 234);
          border-radius: 28px;
          border: rgb(236, 234, 234) 5px solid;
          font-size: 25px;
          font-weight: bold;
          margin-right: 20px;
          box-shadow: 6px 6px 9px lightgrey;
          margin-bottom: 32px;
      }
      
      .btn p {
          border: #9356dc 3px solid;
          border-radius: 50%;
          color: white;
          background-color: #9356dc;
          text-align: center;
          width: 23px;
          height: 23px;
          margin-right: 20px;
      }
      
      .btn .fa-solid {
          margin-right: 20px;
      }
      
      .fa-mobile-screen-button {
          margin-right: 43px;
          margin-left: 8px;
      }
      
      .Restaurants_bloc {
          background-color: rgb(236, 234, 234);
      }
      
      .Restaurants_bloc h2 {
          margin-left: 20px;
      }
      
      h2 {
          font-size: 35px;
          font-family: 'Roboto';
      }
      
      h1 {
          font-size: 40px
      }
      
      .choice_type {
          background-color: lightgray;
          text-align: center;
      }
      
      .explorer {
          border: #9356de 5px solid;
          background-color: #9356dc;
          border-radius: 28px;
          align-items: center;
          padding: 10px 10px 10px 10px;
          color: white;
          margin-bottom: 86px;
          font-size: 28px;
      }
      
      .manual a {
          color: black;
          font-size: 30px;
      }
      
      .manual {
          margin-bottom: 100px;
      }
      
      a {
          text-decoration: none;
          color: white;
      }
      
      ul {
          list-style: none;
      }
      
      .search_form {
          border: 0px;
          background-color: grey;
          text-align: center;
          height: 60px;
      }
      
      .choice_type {
          border-top: 20px;
      }
      
      .search_bloc {
          background: lightgray;
          text-align: center;
          font-size: 1.5rem
      }
      
      h4 {
          font-size: 30px;
          font-weight: lighter;
      }
      
      .search {
          border: 0px;
          background: grey;
          margin-top: 22px;
          font-size: 20px;
          font-weight: bold;
      }
      
      .fa-circle-1 {
          background: purple;
      }
      
      h3 {
          font-size: 30px;
      }
      
      h5 {
          font-size: 25px;
          font-weight: lighter;
          margin: 0px;
      }
      
      .New {
          background: #99e2d0;
          width: 140px;
          position: absolute;
          left: 14rem;
          text-align: center;
          font-size: 15px;
          margin-top: 20px;
          margin-right: 20px;
      }
      
      .Text_cards {
          margin: 20px;
      }
      
      .restaurants_cards {
          display: flex;
          flex-direction: column;
          background: white;
          margin-left: 24px;
          margin-right: 24px;
          margin-bottom: 24px;
          border-radius: 23px;
          box-shadow: 6px 6px 9px lightgrey;
          color: #000;
      }
      
      section #Restaurants {
          background-color: rgb(236, 234, 234);
      }
      
      .restaurants_picture {
          width: 100%;
          height: 250px;
          object-fit: cover;
          border-radius: 7%;
      }
      
      footer {
          background-color: black;
          text-decoration: none;
          color: white;
          padding: 10px;
      }
      
      .footer_link {
          color: white;
      }
      
      ul {
          line-height: 30px;
      }
      
      footer p {
          font-family: 'Shrikhand';
          font-size: 20px;
      }
      /*# sourceMappingURL=styles.css.map */