/* commun aux 5 fichiers */
@font-face {
  font-family: 'Shrikhand';
  src: url(https://fonts.google.com/specimen/Shrikhand?query=shrikhand#standard-styles);
  font-family: 'Roboto';
  src: url(https://fonts.google.com/specimen/Roboto?query=roboto);
  font-style: normal;
  font-weight: 400;
}

body {
  background: #eceaea;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'roboto';
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
  font-weight: 400;
  font-weight: bold;
  font-family: 'Roboto';
}

h4 {
  font-size: 30px;
  font-weight: lighter;
}

h5 {
  font-size: 25px;
  font-weight: lighter;
  margin: 0px;
}

.active_button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356dc));
  background: linear-gradient(#FF79DA, #9356dc);
  font-family: 'Roboto';
  -webkit-box-shadow: 6px 6px 9px lightgrey;
          box-shadow: 6px 6px 9px lightgrey;
  color: white;
}

.active_button:hover {
  opacity: 0.7;
  cursor: pointer;
  -webkit-box-shadow: 10px 12px 17px darkgrey;
          box-shadow: 10px 12px 17px darkgrey;
}

.content-box {
  position: relative;
}

.emptyheart {
  width: 100%;
  left: 0;
  bottom: 0;
}

.pinkheart {
  position: absolute;
  width: 100%;
  opacity: 0;
  background-size: 100% 0px;
  background-position: center top;
}

.pinkheart:hover {
  cursor: pointer;
  z-index: 5;
  -webkit-animation: empty 0.1s ease-in-out;
          animation: empty 0.1s ease-in-out;
  -webkit-animation: fill 2s forwards;
          animation: fill 2s forwards;
}

.pinkheart:hover:after {
  height: 100%;
  top: 0%;
}

@-webkit-keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 10px;
  margin-top: 4rem;
  font-size: 20px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer p {
  line-height: 45px;
  font-family: 'Shrikhand';
}

footer ul {
  line-height: 30px;
  font-family: 'roboto';
  list-style: none;
}

/* ACCUEILPAGE */
#logo {
  text-align: center;
}

/* ANIMATION PRELOADER SPINNER LOADING */
.preloader {
  margin: auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  -webkit-animation: 4s fadeinAnimation;
          animation: 4s fadeinAnimation;
  position: fixed;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
}

.preloader:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  font-size: 50px;
  /*  margin: 8px; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 150px solid grey;
  border-color: grey transparent grey transparent;
  -webkit-animation: preloader 3s;
          animation: preloader 3s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
  }
}

@keyframes preloader {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
  }
}

@-webkit-keyframes fadeinAnimation {
  0% {
    opacity: 1;
    background: white;
  }
  50% {
    opacity: 1;
    background: white;
  }
  99% {
    z-index: 10;
  }
  100% {
    opacity: 0;
    display: none;
    background: transparent;
    z-index: -1;
  }
}

@keyframes fadeinAnimation {
  0% {
    opacity: 1;
    background: white;
  }
  50% {
    opacity: 1;
    background: white;
  }
  99% {
    z-index: 10;
  }
  100% {
    opacity: 0;
    display: none;
    background: transparent;
    z-index: -1;
  }
}

.find_place {
  -webkit-box-shadow: 0px 3px 3px grey inset;
          box-shadow: 0px 3px 3px grey inset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_form {
  border: 0px;
  background-color: #bbb7b7;
  margin-bottom: 0px;
  height: 70px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
}

.search_place {
  text-align: center;
  height: 30rem;
  background: #eceaea;
}

.search_bloc {
  background-color: #bbb7b7;
}

.search_bloc h1 {
  font-family: 'roboto', arial, helvetica;
}

.explorer {
  border: transparent;
  border-radius: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 12px 12px 12px;
  color: white;
  font-size: 26px;
}

.btn.btn-number {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-number__1,
.btn-number__2,
.btn-number__3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  width: 80%;
  background-color: #eceaea;
  border-radius: 28px;
  font-size: 21px;
  font-weight: bold;
  margin-left: 17px;
  -webkit-box-shadow: 6px 6px 9px lightgray;
          box-shadow: 6px 6px 9px lightgray;
  margin-bottom: 32px;
  position: relative;
}

.btn-number__3:hover {
  background-color: #e7def1;
}

.btn-number__3:hover .fa-store {
  color: #9356DC;
}

.btn p {
  border: #9356DC solid 3px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  font-family: 'roboto';
  text-align: center;
  width: 20px;
  position: absolute;
  left: -10px;
}

.btn_choice a {
  font-size: 30px;
  margin-left: 40px;
}

.btn_choice {
  margin-bottom: 100px;
  background: white;
}

.btn a {
  color: black;
  text-decoration: none;
}

i.fa-solid.fa-mobile-screen-button {
  margin-left: 20px;
}

i.fa-solid.fa-list {
  margin-left: 20px;
}

i.fa-solid.fa-store {
  margin-left: 20px;
}

.Restaurants_bloc {
  background-color: #eceaea;
}

.Restaurants_bloc h2 {
  margin-left: 20px;
}

.Text_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  line-height: 28px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.New {
  background: #99e2d0;
  width: 30%;
  text-align: center;
  left: 14rem;
  top: 1rem;
  font-size: 15px;
  margin-bottom: 5px;
  position: absolute;
}

#Restaurants {
  background-color: #eceaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Text_cards h3 {
  margin-bottom: 10px;
}

.restaurants_cards {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
  width: 100%;
  position: relative;
  border-radius: 23px;
  -webkit-box-shadow: 6px 6px 9px #eceaea;
          box-shadow: 6px 6px 9px #eceaea;
  color: black;
}

.restaurants_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 205px;
  border-radius: 6% 6% 0% 0%;
}

/* MENUPAGE */
.menu_logo {
  font-family: 'Shrikhand';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  background: white;
}

.logo {
  font-family: 'Shrikhand';
}

.return {
  border: none;
  background: white;
}

.bloc-left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloc-left .starter_text,
.bloc-left .main_text,
.bloc-left .dessert_text {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bloc-left .starter_text p,
.bloc-left .main_text p,
.bloc-left .dessert_text p {
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0px;
}

.price {
  font-weight: bold;
}

.bloc-right {
  width: 0%;
  display: none;
  padding: 2px;
}

.starter-list:hover .bloc-left p,
.main-list:hover .bloc-left p,
.dessert-list:hover .bloc-left p {
  -webkit-animation: 1.5s decrease;
          animation: 1.5s decrease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.starter-list:hover .bloc-right,
.main-list:hover .bloc-right,
.dessert-list:hover .bloc-right {
  display: block;
  -webkit-animation: 1.5s checkbox;
          animation: 1.5s checkbox;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #99e2d0;
  position: relative;
  text-align: center;
  border-radius: 0 25px 25px 0;
}

.starter-list:hover .bloc-right .fa-circle-check,
.main-list:hover .bloc-right .fa-circle-check,
.dessert-list:hover .bloc-right .fa-circle-check {
  color: white;
  -webkit-animation: 0.53s check;
          animation: 0.53s check;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.starter-list,
.main-list,
.dessert-list {
  background: white;
  margin-bottom: 24px;
  border-radius: 25px;
  -webkit-box-shadow: 6px 6px 9px #eceaea;
          box-shadow: 6px 6px 9px #eceaea;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes checkbox {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}

@keyframes checkbox {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}

@-webkit-keyframes decrease {
  0% {
    width: 300px;
  }
  100% {
    width: 150px;
  }
}

@keyframes decrease {
  0% {
    width: 300px;
  }
  100% {
    width: 150px;
  }
}

@-webkit-keyframes check {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes check {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.title_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  border: #eceaea 40px solid;
  border-radius: 15%;
  top: -2rem;
}

.title_menu h1 {
  font-family: 'Shrikhand';
  font-size: 30px;
}

.fa-arrow-left {
  font-size: 35px;
}

.restaurant_menu {
  background: #eceaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.description h3 {
  font-size: 22px;
  border-bottom: #99e2d0 solid 3px;
  width: 12%;
  margin-left: 16px;
}

.description {
  font-family: 'Roboto';
}

.menu_pages .description {
  background-color: #eceaea;
  border-radius: 7%;
}

.restaurants_picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  background-color: #eceaea;
}

strong {
  font-size: 20px;
}

.order {
  border-radius: 28px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 35px;
  font-size: 28px;
  width: 40%;
  text-align: center;
  margin-left: 7rem;
  margin-top: 40px;
}

input.search_order {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  margin-bottom: 6px;
}

.animation_menu:nth-child(1n+1) {
  -webkit-animation: fadein 0.4s ease-out;
          animation: fadein 0.4s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_menu:nth-child(1n+2) {
  -webkit-animation: fadein 0.8s ease-out;
          animation: fadein 0.8s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_menu:nth-child(1n+3) {
  -webkit-animation: fadein 1.2s ease-out;
          animation: fadein 1.2s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_menu:nth-child(1n+4) {
  -webkit-animation: fadein 1.6s ease-out;
          animation: fadein 1.6s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_menu:nth-child(1n+5) {
  -webkit-animation: fadein 2s ease-out;
          animation: fadein 2s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_menu:nth-child(1n+6) {
  -webkit-animation: fadein 2.4s ease-out;
          animation: fadein 2.4s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_menu:nth-child(1n+7) {
  -webkit-animation: fadein 2.8s ease-out;
          animation: fadein 2.8s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_menu:nth-child(1n+8) {
  -webkit-animation: fadein 3.2s ease-out;
          animation: fadein 3.2s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation_menu:nth-child(1n+9) {
  -webkit-animation: fadein 3.6s ease-out;
          animation: fadein 3.6s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=styles.css.map */